extends layout

block content
  h1= bingosquare.name
  p= bingosquare.description
  p #[strong Hard Mode:] #{bingosquare.hardmode}
  - if (bingosquareuser.selectedbook)
    p #[strong Selected Book:] #{selectedTitle}
  - else 
    p Nothing has been selected for this square yet
  
  h3 Select Book for This Square
  form(method='POST', action='/bingosquares/select/' + bingosquareuser._id)
    each book, i in books
      label #{book.title}
      -if (book.id != bingosquareuser.selectedbook)
        input#book(type='radio', name='bookid', value=book._id)
      -else 
        a.btn.btn-dark.mr-auto(href='#') Unselect
      br
    
    input.btn.btn-primary(type="submit", value="submit")
