extends layout

block content
  h1= bingosquare.name
  p= bingosquare.description
  p #[strong Hard Mode:] #{bingosquare.hardmode}
  - if (bingosquareuser.selectedbook)
    p #[strong Selected Book:] #{bingosquareuser.selectedbook}
  
  h3 Potential Books for This Square
  ul.list-group
    each book, i in books
      li.list-group-item
        a(href='/books/'+ book._id)= book.title 
        -if (book.id != bingosquareuser.selectedbook)
          a.btn.btn-dark(href='/bingosquares/select/' + bingosquareuser._id + '/' + book._id) Select
