extends layout

block content
  h1 #{title} of doom
  
  form(method='POST', action='/books/edit/' + book._id)
    #form-group
      label Title: 
      input.form-control(name='title', type='text', value=book.title)
    #form-group
      label Author: 
      input.form-control(name='author', type='text', value=book.author)
    #form-group
      label Applicable Bingo Squares (select all that apply):
      br
      select.bingosquareselect(name='bingosquareselect', multiple='')
        each bingoSquare, i in bingoSquares
          if book.bingoSquares.includes(bingoSquare._id)
            option(value=bingoSquare.id, selected=true) #{bingoSquare.name}
          else
            option(value=bingoSquare.id, selected=false) #{bingoSquare.name}
        br
    br
    
    input.btn.btn-primary(type="submit", value="submit")
